{{!-- HEADER --}}
{{!-- END HEADER --}}
<div class="nav-container">
  <header class="header">
    <nav class="nav-wrapper">
      <div class="menu">
        <ul class="menu">
          <li class="title"><a style="text-decoration:none" href="/" class="logo">STUDENTS
              <i class="fas fa-angle-double-down"></i></a>
            <ul class="sous-menu">
              <li class="undertitle"><a href="/profile">Profile</a></li>
              <li class="undertitle"><a href="/accountinfo">AccountInfo</a></li>
              <li class="undertitle"><a href="/actions">Actions</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="authentication">
        <a href="/university" style="text-decoration:none" class="university">UNIVERSITY</a>
        <a href="/login" style="text-decoration:none" class="login">LOGIN</a>
        <a href="/signup" style="text-decoration:none" class="signup">SIGNUP</a>
        <a href="/logout" style="text-decoration:none" class="logout">LOGOUT</a>
      </div>
    </nav>
  </header>
</div>