<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Search University</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<form method="POST" action="/adduniversity">
  <h1 class="firsttitleadduniversity"> Your university is not on our list?</h1>
  <h2 class="secondtitleadduniversity"> Please fill in the form below !</h2>
  <div class="add_container">
    <label>University name</label>
    <input type="text" name="name" placeholder="University name" class="">
    <label>University description</label>
    <input type="text" name="description" placeholder="University description">
    <label> University address</label>
    <input type="text" name="latitude" placeholder="University latitude">
    <input type="text" name="longitude" placeholder="University longitude">
    <input type="submit" name="">
  </div>
</form>

</html>