<h1 class="h1_homepage">EXPLORE OUR UNIVERSITIES MAP</h1>
<div id="map"></div>
<!--  Axios CDN  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  Google Maps Key  -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVv4Yb4rZckSPdcsoXzjdgdpW1MswkgXo">
</script>
<!--  Connect main.js  -->
<script type="text/javascript" src="/javascripts/main.js"></script>