<div class="titlePartners">
  <h1>Welcome to {{university.name}}'s detailed website !</h1>
</div>
<div class="paratext">
  <p>On this website, you will learn a lot concerning the universities excahnge ! Some students have graded their host
    universities according to several criterias ! It can be based on the amount of work expected/given, but also if they
    were happy with the city, how they were received in their host families and with the locals. These comments and
    grades
    are totally subjectif ! If you have been in this city and agree or disagree with what has been said, please leave a
    comment on the page and a star review! It would help other users to have a better overall idea of where they're
    going
    !!
  </p>
  <p>Not sure it's worth giving you the polar coordinates but they are if you wanna go there: {{university.location}}
  </p><br><br><br>
  <p>Look at this ! With {{university.name}} you can go to <b>{{university.exchange}}</b></p>
</div>