<div class="leftsideprofile">
  <div class="imgcontainer">
    <img class="imgprofile" src="./images/defaultimage.png">
  </div>
  <h2 class="introh2"> Intro </h2>
  <div class="introprofile">
    <pre>Name:</pre>
    <p>{{User.name}}</p>
    <pre>Lastname: </pre>
    <p>{{User.lastname}}</p>
    <pre>University: </pre>
    <p>{{University.lastname}}</p>
  </div>
</div>