<h2>Please Log In to access to your website</h2>


<form method="POST" action="/login" id="form">
   <div>
       <label for="email" class="emailLabel">Email</label>
       <input type="email" name="email" placeholder="email@gmail.com" required>
   </div>
   <div class="f">
       <label for="password" class="l">Password</label>
       <input type="password" name="password" placeholder="••••••" required>
   </div>
   <button>Log In</button>
   <p class="login">Wanna sign up ? Click here <a href="/signup">Sign Up</a></p>

</form>