.firsttitleadduniversity {
  color: #3b5997;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.secondtitleadduniversity {
  color: #3b5997;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}
