.profile {
  margin-top: 5%;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.leftsideprofile {
  display: flex;
  flex-direction: column;
}

.imgprofile {
  margin-top: 10%;
  width: 150px;
  justify-content: center;
}

.rightsideprofile {
  flex-direction: column;
  display: flex;
}

.profileopinion {
  flex-direction: column;
  display: flex;
}

.introprofile {
  display: flex;
  flex-direction: column;
}

.universityinfo {
  display: flex;
  flex-direction: column;
}

.profileh2 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  align-items: center;
  text-align: center;
}

.rankingnumber {
  visibility: hidden;
}

.reviewtitle {
  margin-top: 5%;
}

.stars {
  margin-top: 3%;
}

.imgcontainer {
  padding-left: 158px;
}
