.profile {
  margin-top: 5%;
  display: flex;
  text-align: center;
}

.leftsideprofile {
  display: flex;
  margin-left: 20%;
  flex-direction: column;
}

.imgprofile {
  margin-top: 10%;
  width: 200px;
  height: 200px;
  justify-content: center;
}

.rightsideprofile {
  margin-top: 12.5%;
  margin-left: 5%;
  flex-direction: column;
  display: flex;
}

.profileopinion {
  margin-top: 12.5%;
  margin-left: 5%;
  flex-direction: column;
  display: flex;
}

.introprofile {
  display: flex;
  flex-direction: column;
}

.universityinfo {
  display: flex;
  flex-direction: column;
}

.profileh2 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  align-items: center;
  text-align: center;
}
