body {
  font-family: "Helvetica", sans-serif;
  background-color: white;
  font-size: 14px;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
}

.titleUni {
  text-align: center;
  margin-top: 5%;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}
.box {
  width: 320px;
  padding: 10px;
  border: 5px solid #f12424;
  height: 300px;
  border-radius: 15%;
  text-align: center;
}
.box p {
  font-family: "Montserrat", sans-serif;
}
.flexbox {
  display: flex;
  padding: 100px;
  justify-content: space-around;
}
.button {
  color: #f12424;
}
